$pbc: #ff121a;
$sbc: #39b549;
$notelist-item-border: #499c54;
$error: red;

$grays: (
    "g1": #1a1a1a,
    "g2": #262626,
  
    "g3": #313131,
    "g4": #333333,
    "g5": #404040,
    "g6": #4d4d4d,
    "g7": #666666,
    "g8": #737373,
    "g9": #767676,
    "g10": #777777,
    "g11": #7a8083,
    "g12": #a6a6a6,
    "g13": #b3b3b3,
    "g14": #cccccc,
    "g15": #d9d9d9,
    "g16": #e6e6e6,
    "g17": #ededed,
    "g18": #f2f2f2,
    "g19": #f8f8f8,
);

@function gray($key) {
    @return map-get($grays, $key)
};

$type-scale: (
    "ts9": 9.52px,
    "ts10": 10.16px,
    "ts10l": 10.84px,
    "ts11": 11.57px,
    "ts12": 12.34px,
    "ts13": 13.17px,
    "ts14": 14.05px,
    "ts15": 15px,
    "ts16": 16px,
    "ts17": 17.07px,
    "ts18": 18.22px,
    "ts19": 19.44px,
    "ts20": 20.74px,
    "ts22": 22.13px,
    "ts23": 23.61px,
);

@function tscale($key) {
    @return map-get($type-scale, $key)
};

$fweight: (
    "semibold": 500,
    "bold": 600,
);

@function weight($key) {
    @return map-get($fweight, $key)
};

@mixin flex($jc:null, $ai:null, $fd:null, $fw:null) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
};

@mixin pos($type, $t:null, $r:null, $b:null, $l:null) {
    position: $type;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
};

@mixin logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid $pbc;
    position: relative;
    margin: 5px 0;
    &::after {
        @include pos(absolute, 50%, $l: 50%);
        transform: translate(-55%, -57%);
        content: 'K';
        color: $sbc;
        font-size: 70px;
        line-height: 70px;
        font-family: 'Harrington';
        font-weight: 900;
    }
}

@mixin auth-form {
    width: 100%;
    height: 100%;
    @include flex(center, center);
    background: linear-gradient(270deg, $sbc, $pbc);

    .logo {
        @include logo;
    }

    form {
        width: 300px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 7px rgba(#000, .2);
        padding: 15px;
        @include flex(center, center, column);
    }

    .error-message {
        @include flex($ai: center);
        margin-bottom: 2px;
        color: $error;
        font-size: tscale(ts13);
        animation: error_blink .2s linear infinite;
        span {
            max-height: 20px;
            display: block;
        }
    }

    @keyframes error_blink {
        100% {
            color: transparent;
        }
    }

    input, button {
        font-size: tscale(ts14);
        line-height: tscale(ts14);
        border-radius: 4px;
    }
    
    input {
        width: 100%;
        margin-bottom: 10px;
        background: gray(g19);
        padding: 11px;
        color: gray(g6);
        border: 1px solid transparent;
        transition: border .15s linear;

        &:focus {
            border-color: lighten($sbc, 20);
        }

        &::placeholder {
            color: gray(g12);
        }
    }
    
    button {
        width: 100%;
        display: block;
        transition: all .1s linear;
        height: 40px;
        background: $pbc;
        color: #fff;
        overflow: hidden;
        &:hover {
            background: darken($pbc, 5);
        }

        &.loading {
            position: relative;
            &::before {
                content: '';
                @include pos(absolute, 0, 0, 0, 0);
                background: rgba(#fff, .5);
                z-index: 2;
            }

            @include flex(center, center);

            span {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: transparent;
                border: 4px solid #fff;
                border-bottom-color: transparent;
                border-right-color: transparent;
                animation: loadAnim .45s linear infinite;
            }
        }
        @keyframes loadAnim {
            0% {
                transform: rotate(0);
            } 100% {
                transform: rotate(360deg);
            }
        }
    }

    a {
        margin-top: 15px;
        color: $sbc;
        font-size: tscale(ts13);
        &:hover {
            text-decoration: underline;
        }
    }
}