@import '../utils/style-defs';

.editor {
    @include flex($fd: column);
    header {
        padding: 15px;
        border-bottom: 1px solid gray(g18);
    }

    .top-bar {
        margin-bottom: 20px;
    }

    .top-bar, .top-bar > div {
        @include flex(space-between, center);
    }

    .left-side {
        width: 200px;
    }

    .divider {
        width: 1px;
        height: 100%;
        background: gray(g15);
    }

    .left-side .notebook-icon-text {
        @include flex($ai: center);
        color: gray(g11);
        max-height: 14px;
        font-size: tscale(ts11);
        line-height: 14px;
        svg {
            margin-right: 5px;
        }
    }

    .top-bar button {
        background: transparent;
        display: block;
        color: gray(g12);
        max-height: 24px;
        border-radius: 3px;
        &:hover {
            background: gray(g18);

        }
    }

    

    .editor-body {
        width: 100%;
        flex: 1;
        padding: 30px;
        overflow: auto;
    }
}