@import '../utils/style-defs';

.font-families-card {
    @include pos(absolute, 40px, $l: 187px);
    // width: 200px;
    background: #fff;
    z-index: 3;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(#000, .3);
    padding: 10px 0;
    opacity: 0;

    li button {
        // font-weight: 500;
        font-size: tscale(ts18);
        width: 100%;
        color: gray(g3);
        padding: 7px 25px;
        text-align: left;
        // font-weight: weight(bold);

        &:hover {
            background: gray(g18);
        }
    }

    li.checked button {
        color: $sbc;
    }
}