@import '../utils/style-defs';

.font-size-card {
    @include pos(absolute, 40px, $l: 274px);
    background: #fff;
    z-index: 3;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(#000, .3);
    padding: 10px 0;
    opacity: 0;
    
    li button {
        @include flex($ai: center);
        font-size: tscale(ts14);
        padding: 3px 15px;
        width: 100%;
        color: gray(g3);
        text-align: left;
        line-height: 14px;
        // font-weight: weight(black);

        &:hover {
            background: gray(g18);
        }
    }

    .check-mark-icon {
        max-height: 24px;
        opacity: 0;
    }

    li.checked {
        span, button {
            color: $sbc;
            opacity: 1;
        }
    }
}