
@import '../utils/style-defs';

.insert-link-card {
    @include pos(absolute, 40px, $l: 200px);
    background: #fff;
    z-index: 3;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(#000, .3);
    // opacity: 0;
    padding: 15px 15px 15px;
    @include flex($fd: column);

    div[class|="link"] {
        @include flex($ai: center);
        font-size: tscale(ts14);
        font-weight: 500;
        margin-bottom: 10px;
        input {
            margin-left: 15px;
            width: 350px;
            background: gray(g19);
            font-size: tscale(ts14);
            padding: 11px;
            color: gray(g6);
            border-radius: 4px;
            border: 1px solid transparent;
            transition: border .15s linear;

            &:focus {
                border-color: lighten($sbc, 20);
            }

            &::placeholder {
                color: gray(g12);
            }
        }
    }
    .actions {
        align-self: flex-end;
        margin-top: 5px;
        button {
            font-size: tscale(ts14);
            border-radius: 4px;
            line-height: tscale(ts14);
            transition: all .1s linear;
            
            &:first-child {
                padding: 10px 18px;
                color: gray(g12);
                border: 1px solid gray(g12);
                margin-right: 10px;

                &:hover {
                    color: gray(g8);
                    border-color: gray(g8);
                }
            }
            &:last-child {
                background: $pbc;
                color: #fff;
                padding: 11px 19px;
                &:hover {
                    background: darken($pbc, 5);
                }
            }
        }
    }
}