@import '../utils/style-defs';

.notelist {
    background: gray(g19);
    border-right: 1px solid gray(g16);
    position: relative;
    @include flex($fd: column);

    &-resizer {
        @include pos(absolute, 0, -1%, 0, 99%);
        cursor: e-resize;
    }

    header {
        padding: 20px 20px 10px;
        border-bottom: 1px solid gray(g16);
        .title {
            color: gray(g4);
            font-size: tscale(ts20);
            font-weight: weight(semibold);
            margin-left: -2px;
            @include flex($ai: center);
            span:first-child {
                max-height: 24px;
                margin-right: 5px;
            }
            svg {
                transform: scale(1.5);
                transform-origin: center;
            }
        }
    }

    .subheader {
        margin-top: 15px;
        @include flex(space-between, center);

        .notelist-count {
            color: gray(g7);
            font-size: tscale(ts12);
        }

        .notelist-actions {
            @include flex($ai: center);
            width: max-content;
        }
        
        .notelist-actions button {
            color: gray(g8);
            display: block;
            max-height: 24px;
            margin-left: 3px;
            cursor: pointer;
            border-radius: 3px;
            background: transparent;

            &.active, &:hover {
                background: gray(g18);
            }
        }
    }

    .notelist-body {
        flex: 1;
        &.empty {
            @include flex(center, center);
        }
        .notelist-empty-state {
            @include flex(center, center, column);

            .intro {
                font-weight: weight(bold);
                margin: 15px 0;
            

            .info {
                text-align: center;
                color: gray(g8);
                max-width: 300px;
                line-height: 22px;
                font-size: tscale(ts15);
            }

            .info a {
                color: $pbc;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}