@import '../utils/style-defs';

.notelist-view-action-card {
    @include pos(absolute, 30px, $r: -177px);
    width: 200px;
    background: #fff;
    z-index: 2;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(#000, .3);

    h5 {
        padding: 15px 15px 5px;
        font-weight: weight(bold);
        font-size: tscale(ts12);
        color: gray(g12);
    }
    h5.sub-options-h {
        border-top: 1px solid gray(g18);
    }

    li button {
        background: transparent;
        width: 100%;
        @include flex($ai: center);
        color: gray(g4);
        padding: 5px 15px;
        font-weight: weight(bold);

        &:hover {
            background: gray(g18);
        }

        .check-mark-icon {
            opacity: 0;
            max-height: 24px;
        }
        
        .option-text {
            max-height: 24px;
            @include flex($ai: center);
            font-size: tscale(ts13);
            margin-left: 5px;
        }
        .option-text span {
            margin-left: 3px;
        }
    }
    li.checked span {
        color: $sbc;
        opacity: 1;
    }
}