
@import '../utils/style-defs';

.text-level-card {
    @include pos(absolute, $l: 85px);
    // width: 200px;
    background: #fff;
    z-index: 3;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(#000, .3);
    opacity: 0;
    padding: 10px 0;
    font-size: 14px;

    $list: (1: 30px, 2: 24px, 3: 18px, 4: 14px);
    @each $nth, $size in $list {
        li:nth-child(#{$nth}) {
            button {
                font-size: #{$size};
            }
        }
    }

    li:not(:last-child) {
        button {
            font-weight: weight(bold);
        }
    }

    li button {
        width: 100%;
        color: gray(g3);
        padding: 10px 20px;
        text-align: left;
        // font-weight: weight(bold);

        &:hover {
            background: gray(g18);
        }
    }
    li:not(:last-child) {
        border-bottom: 1px solid gray(g19);
    }
}