@import '../utils/style-defs';

.tool-bar {
    @include flex($ai: center, $fw: wrap-reverse);
    color: gray(g6);
    position: relative;

    &.inactive::before {
        content: '';
        @include pos(absolute, 0, 0, 0, 0);
        background: rgba(#fff, .7);
        z-index: 5;
    }

    .divider:last-of-type {
        display: none;
    }

    > button {
        @include flex(space-between, center);
        max-height: 24px;
        white-space: nowrap;
        font-weight: weight(semibold);
        border-radius: 3px;
        margin: 0 2px;
        font-size: tscale(ts12);
        
        &:hover:not(.fore-color):not(.back-color) {
            background: gray(g19);
        }
        &.fore-color, &.back-color {
            > span, > svg {
                border-radius: 3px;

                &:hover {
                    background: gray(g19);
                }
            }
        }

        &.checked:not(.fore-color):not(.back-color) {
            background: lighten($sbc, 35);
            > svg path {
                fill: #fff;
            }
        }
        &.fore-color.checked, &.back-color.checked {
            > span {
                background: lighten($sbc, 35);
                svg:last-child path {
                    fill: #fff;
                }
            }

            > svg path {
                fill: currentColor;
            }
        }

        &:first-child {
            margin-left: 0;
            svg path {
                fill: $sbc;
            }
        }
        &.text-level, &.super-family, &.font-size {
            padding: 0 5px;
        }
        
        &.text-level svg, &.super-family svg{
            margin-left: 10px;
        }
        &.font-size svg {
            margin-left: 15px;
        }

        &.fore-color > span {
            width: 24px;
            height: 24px;
            @include flex(center,center);
            position: relative;
            > span.circle {
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }
            &::after {
                content: '';
                @include pos(absolute, 0, 0, 0, 0);
                z-index: 2;
                background: url(/img/fgcol-wrapper.png) no-repeat center center/cover;
                background-origin: border-box;
                background-clip: border-box;
                transform: scale(1.2);
            }

        }
    }

    button.back-color span {
        position: relative;
        width: 24px;
        height: 24px;
        svg {
            @include pos(absolute, $l: 0)
        }
    }

    svg.inactive {
        path {
            fill: gray(g13);
        }
    }

    [class$='card'] {
        top: 45px;
    }
}