@import '../utils/style-defs';

.editor {
    @include flex($fd: column);
    background: #fff;
    transition: all .15s linear;
    position: relative;
    
    &.expanded {
        @include pos(fixed, 0, 0, 0, 0);
        z-index: 5;
    }
    header {
        padding: 15px;
        border-bottom: 1px solid gray(g18);
    }

    .top-bar {
        margin-bottom: 20px;
    }

    .top-bar, .top-bar > div {
        @include flex(space-between, center);
    }

    .last-edited-info {
        color: gray(g12);
        font-size: tscale(ts13);
    }

    .left-side {
        width: 200px;
    }

    .divider {
        width: 1px;
        height: 100%;
        background: gray(g15);
    }

    .left-side .notebook-icon-text {
        @include flex($ai: center);
        color: gray(g11);
        max-height: 14px;
        font-size: tscale(ts11);
        line-height: 14px;
        svg {
            margin-right: 5px;
        }
    }


    .top-bar .left-side button, .top-bar .right-side button.note-options {
        background: transparent;
        display: block;
        max-height: 24px;
        border-radius: 3px;
        &:hover {
            background: gray(g18);

        }

        &.expand-icon {
            color: gray(g12);
        }
        color: gray(g8);
    }

    .editor-body {
        @include flex($fd: column);
        width: 99.5%;
        flex: 1;
        padding: 30px;
        overflow: hidden;
        scrollbar-gutter: stable;
        
        &:hover {
            overflow-y: auto;
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 50px;
            background: gray(g12);
        }

        .note-title textarea {
            width: 100%;
            height: 40px;
            &::-webkit-resizer {
                display: none;
            }
            @include flex($ai: center);
            font-size: 30px;
            line-height: 30px;
            font-weight: weight(bold);
            font-family: 'Source Sans Pro' , -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            &::placeholder {
                color: gray(g13);
            }
            &:disabled {
                background: transparent;
            }
        }

        .note-editing-window {
            flex: 1;
            position: relative;
        }

        iframe {
            width: 100%;
            height: 100%;
            max-width: 100%;
            border: none;
        }
    }
}